 @import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}

body {
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-size: 760px;
    background-position-x: 100%;
    background-position-y: 100%;
    background-color: #F2FCFC !important;
}

.main-container {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
}

.navbar {
    padding: 0rem 0rem !important;
}

.navbar-brand {
    font-size: 32px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    color: #292929;
} 

.navbar-brand:hover {
    color: #292929;

}

.nav-item {
    padding: 20px !important;
}

.nav-item a{
    color: #292929 !important;
    font-size: 18px;
    font-weight: bold;
}

a.nav-link
{
    position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed194b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
    visibility: visible;
    width: 100%;
}

a.nav-link:focus-visible {
    color: #132C33;
}

.photo {
    float: right;
    height: 512px;
}

.head-text {
    padding-top: 100px;
    height: 512px;
}

.head-text h2,h3 {
    font-size: 50px;
    padding-top: 8px;
}

.head-text p {
    font-size: 18px;
}

.head-text p a{
    font-size: 18px;
    text-decoration: none;
}

.head-text span {
    color: #ed194b;
}

.head-text button {
    background-color: #132C33;
    color: #fff;
    border-style: none;
    padding: 10px 20px 10px 20px;
}

.head-text button a{
    background-color: #132C33;
    color: #fff;
    border-style: none;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.section {
    margin: 0px;
    padding: 0px;
    height: 350px;
    width: 100% !important;
    display: block;
}

.section-content {
    height: inherit;
    padding-left: 12rem !important;
    padding-right: 12rem !important;
    display: table-cell;
    vertical-align: middle;
}

.about-me {
    background-color: #dfdfdff5;
}

.services {
    background-color: #fff;
}

.section-content p, .section-content h2{
    margin-bottom: 0px;
}

.about-me-para {
    text-align: justify;
    font-size: 17px;
    float: right;
}

.h2-side {
    float: left;
    font-size: 40px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    color: #292929;
}

.h2-side::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 3px;
    border-bottom: 4px solid #ed194b;
}

.blue {
    background-color: rgb(175, 190, 255);
    height: 100px;
}

.carousel {
    /* width: 500px !important; */
}
