 @import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}

body {
    background-image: url(/portfolio/images/bg2.png);
    background-repeat: no-repeat;
    background-size: 760px;
    background-position-x: 100%;
    background-position-y: 100%;
    background-color: #F2FCFC !important;
}

.main-container {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
}

.navbar {
    padding: 0rem 0rem !important;
}

.navbar-brand {
    font-size: 32px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    color: #292929;
} 

.navbar-brand:hover {
    color: #292929;

}

.nav-item {
    padding: 20px !important;
}

.nav-item a{
    color: #292929 !important;
    font-size: 18px;
    font-weight: bold;
}

a.nav-link
{
    position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed194b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
    visibility: visible;
    width: 100%;
}

a.nav-link:focus-visible {
    color: #132C33;
}

.photo {
    float: right;
    height: 512px;
}

.head-text {
    padding-top: 100px;
    height: 512px;
}

.head-text h2,h3 {
    font-size: 50px;
    padding-top: 8px;
}

.head-text p {
    font-size: 18px;
}

.head-text p a{
    font-size: 18px;
    text-decoration: none;
}

.head-text span {
    color: #ed194b;
}

.head-text button {
    background-color: #132C33;
    color: #fff;
    border-style: none;
    padding: 10px 20px 10px 20px;
}

.head-text button a{
    background-color: #132C33;
    color: #fff;
    border-style: none;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    letter-spacing: 1.7;
}

.section {
    margin: 0px;
    padding: 0px;
    height: 350px;
    width: 100% !important;
    display: block;
}

.section-content {
    height: inherit;
    padding-left: 12rem !important;
    padding-right: 12rem !important;
    display: table-cell;
    vertical-align: middle;
}

.about-me {
    background-color: #dfdfdff5;
}

.services {
    background-color: #fff;
}

.section-content p, .section-content h2{
    margin-bottom: 0px;
}

.about-me-para {
    text-align: justify;
    font-size: 17px;
    float: right;
}

.h2-side {
    float: left;
    font-size: 40px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    color: #292929;
}

.h2-side::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 3px;
    border-bottom: 4px solid #ed194b;
}

.blue {
    background-color: rgb(175, 190, 255);
    height: 100px;
}

.carousel {
    /* width: 500px !important; */
}


/* Contact */
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f0f0 0%, #c9c9c9 100%);
    font-size: 12px;
  }
  
  .contact-container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ffffff;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ed194b;
    font-size: 32px !important;
    font-weight: bold !important;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ed194b;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ed194b;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #ed194b;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  